.modal.fade.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog-centered {
  max-width: 700px;

}

.main-title {
  font-weight: bolder;
  font-size: 40px;
  margin: 0;
}

.main-text {
  font-size: 20px;
  font-weight: bold;
  color: #585858;
  margin: 0;
}

.modal-content {
   padding-left: 6rem;
   padding-right: 6rem;
   padding-top: 5rem;
   padding-bottom: 5rem;
}
