<div class="modal fade show d-flex align-items-center justify-content-center" tabindex="-1" role="dialog"
  aria-labelledby="modalLabel" aria-hidden="true" (click)="closeModal()">

  <div class="modal-dialog modal-dialog-centered" role="document" (click)="$event.stopPropagation()">
    <div class="modal-content text-center">
      <h5 class="modal-title mb-3 w-100 main-title">{{ title }}</h5>
      <div class="modal-body">
        <p class="m-0 main-text">{{ description }}</p>
      </div>
    </div>
  </div>
</div>
