<div class="main-container m-auto my-5">
  <div class="d-flex align-items-center">
    <img src="https://angular.io/assets/images/logos/angular/angular.svg" width="30" height="30" class="me-2">
    <h1 class="h3 m-0">{{title}}</h1>
  </div>

  <div class="mt-4 custom-padding text-center rounded-5 border-0 position-relative">
    <img src="img/fondo.svg" class="position-absolute top-0 start-0 w-100 h-100 rounded-5"
      style="object-fit: cover; z-index: -1;">
    <p class="m-0 main-title position-relative" style="z-index: 1;">{{subtitle}}</p>
  </div>
</div>
