<welcome-component></welcome-component>

<form *ngIf="budgetForm && budgets.length > 0" [formGroup]="budgetForm">
  <div formArrayName="budgetsArray" class="main-container m-auto my-5">
    <div class="budget-item mt-4 py-5 px-4 rounded-5 w-75 m-auto shadow d-flex flex-column position-relative"
      *ngFor="let budget of budgets; let i = index"
      [ngClass]="{'border border-success': budgetForm.get('budgetsArray')?.value[i] === true}">
      <div class="d-flex justify-content-between align-items-center">
        <div class="description-container text-start d-flex flex-column justify-content-center">
          <p class="main-title px-3">{{ budget.name }}</p>
          <p class="main-text px-3 pt-3">{{ budget.description }}</p>
        </div>
        <div class="price-container text-center d-flex align-items-center">
          <p class="m-0 price-title">{{ budget.price }}<span class="fs-4"> €</span></p>
        </div>
        <div class="checkbox-container form-check text-end me-5 d-flex align-items-center">
          <input type="checkbox" class="form-check-input me-3"
            [ngClass]="{'bg-success border-success': budgetForm.get('budgetsArray')?.value[i] === true}"
            [formControlName]="i" id="exampleCheck{{ budget.name }}">
          <label class="form-check-label ms-0 main-text" for="exampleCheck{{ budget.name }}">Afegir</label>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <panel-component *ngIf="(showPanelIndex$ | async) === i" class=""></panel-component>
      </div>
    </div>
  </div>
</form>

<div class="w-75 m-auto text-end">
  <p class="main-title">Preu pressuposat: <span class="ms-5">{{ selectedPrices$ | async }}</span><span class="fs-4"> €</span></p>
</div>

<form [formGroup]="inProcessBudget" (ngSubmit)="inProcessBudgetForm()">
  <div class="main-container m-auto my-5 pb-5">
    <div class="mt-4 py-5 px-4 rounded-5 w-75 m-auto shadow position-relative">
      <div class="main-title px-3 mb-4 text-start pb-2">Pedir presupuesto</div>
      <div class="row g-3 pb-4 px-3">
        <div class="col-md-3">
          <input type="text" formControlName="nombre" placeholder="Nombre"
            class="form-control border rounded-3 text-start py-2">
        </div>
        <div class="col-md-3">
          <input type="text" formControlName="telefono" placeholder="Teléfono"
            class="form-control border rounded-3 text-start py-2">
        </div>
        <div class="col-md-3">
          <input type="email" formControlName="email" placeholder="Email"
            class="form-control border rounded-3 text-start py-2">
        </div>
        <div class="col-md-3 d-flex align-items-center">
          <button type="submit" class="btn btn-success w-100 ms-3 presupuesto-text">Solicitar presupuesto &rarr;</button>
        </div>
      </div>
    </div>
  </div>
</form>

<budgets-list-component *ngIf="budgetRequestsSignal().length > 0" [budgetRequests]="budgetRequestsSignal()">
</budgets-list-component>
