<div class="d-flex justify-content-end">
  <div [formGroup]="pagesAndLanguagesForm" class="d-flex flex-column align-items-end w-100">
    <div class="d-flex align-items-center w-75 justify-content-end">
      <label for="numPages" class="main-text me-3 w-100 text-end">Número de páginas</label>
      <div class="d-flex align-items-center">
        <button (click)="decrementPages()" class="btn btn-sm">
          <img src="img/minus-circle.svg" alt="Decrement">
        </button>
        <input id="numPages" type="text" formControlName="numPages"
          class="mx-2 main-text border border-secondary rounded-3 w-50 text-center" (keydown)="onKeydown($event)"
          (input)="onInput($event, 'numPages')">
        <button (click)="incrementPages()" class="btn btn-sm">
          <img src="img/plus-circle.svg" alt="Increment">
        </button>
      </div>
    </div>
    <div *ngIf="showError['numPages']" class="text-danger mt-1 text-center w-75">
      Debes añadir al menos 1 página
    </div>

    <div class="d-flex align-items-center mt-3 w-75 justify-content-end">
      <label for="numLanguages" class="main-text me-3 w-100 text-end">Número de idiomas</label>
      <div class="d-flex align-items-center">
        <button (click)="decrementLanguages()" class="btn btn-sm">
          <img src="img/minus-circle.svg" alt="Decrement">
        </button>
        <input type="text" id="numLanguages" formControlName="numLanguages"
          class="mx-2 main-text border border-secondary rounded-3 w-50 text-center" (keydown)="onKeydown($event)"
          (input)="onInput($event, 'numLanguages')">
        <button (click)="incrementLanguages()" class="btn btn-sm">
          <img src="img/plus-circle.svg" alt="Increment">
        </button>
      </div>
    </div>
    <div *ngIf="showError['numLanguages']" class="text-danger mt-1 text-center w-75">
      Debes añadir al menos 1 idioma
    </div>
  </div>
</div>
