<hr class="w-75 hr-line py-5">

<div class="m-auto w-75 main-title text-start ">Presupuestos en curso</div>


    <div class="main-container m-auto my-5 pb-5">
        <div class="content-container mt-4 py-5 px-4 rounded-5 w-75 m-auto shadow position-relative">
            <div class="row">
                <div class="col-md-4 d-flex flex-column justify-content-center">
                    <div class="main-title px-4">Nombre</div>
                    <div class="user-text px-4 pb-1 ">exaaaaample&#64;gmail.com</div>
                    <div class="user-text px-4">999 999 999</div>
                </div>

                <div class="col-md-4 d-flex flex-column justify-content-center">
                    <div class="main-text pb-1">Servicios contratados</div>
                    <li class="main-text pb-1">Web (4 paginas, 5 idiomas)</li>
                    <li class="main-text">SEO</li>
                </div>
                
                <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
                    <div class="user-text">Total:</div>
                    <div class="price-container">
                        <p class="m-0 price-title">500 <span class="fs-4"> €</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

